<template name="Add">
  <form class="add">
    <fieldset>
      <select name="category" class="add-input js-category">
        <option disabled selected>category</option>
        {{#each categories}}
          <option value="{{ _id }}">{{ name }}</option>
        {{/each}}
        <option disabled>----</option>
        <option value="new">new category</option>
      </select>
    </fieldset>
    <fieldset>
      <input class="input add-input js-quantity" type="number" name="amount" placeholder="amount" value="1" />
    </fieldset>
    <fieldset>
      <input type="number" placeholder="Longitude" name="long" class="add-input js-long" step="any" />
    </fieldset>
    <fieldset>
      <input type="number" placeholder="Latitude" name="lat" class="add-input js-lat" step="any" />
    </fieldset>
    <fieldset>
      <a class="js-use-location">use my location</a>
    </fieldset>
    <fieldset>
      <button class="btn btn--full" type="submit">save</button>
    </fieldset>
  </form>
</template>
