<template name="add">
  <form class="add">
    <fieldset>
      <select name="category" class="add-input js-category">
        <option disabled selected>category</option>
        {{#each categories}}
          <option value="{{ _id }}">{{ name }}</option>
        {{/each}}
        <option disabled>----</option>
        <option value="new">new category</option>
      </select>
    </fieldset>
    <fieldset>
      <input class="input add-input js-quantity" type="number" name="amount" placeholder="amount" value="1" />
    </fieldset>
    <fieldset>
      <button class="btn btn--full" type="submit">save</button>
    </fieldset>
  </form>
</template>
