<template name="Edit">
  {{#each items}}
    <form class="js-edit-form">
      <fieldset>
        <select name="category">
          <option>{{category_name}}</option>
        </select>
      </fieldset>
      <fieldset>
        <input type="number" name="quantity" value="{{quantity}}" />
      </fieldset>
      <fieldset>
        <label>latitude</label>
        <input type="number" name="lat" value="{{lat}}" step="any" />
      </fieldset>
      <fieldset>
        <label>longitude</label>
        <input type="number" name="long" value="{{long}}" step="any" />
      </fieldset>
      <button class="submit btn">update</button> / <a class="js-delete-item" data-id="{{_id}}">delete</a>
    </form>
    <hr />
  {{/each}}
</template>
